version: '3.9'
services:

  jenkins:
    container_name: jenkins
    image: jenkins/jenkins
    ports:
      - 8080:8080
    volumes: 
#      - /Users/opentechbox/Desktop/study_jenkins/jenkins/data:/var/jenkins_home
      - ${PWD}/data:/var/jenkins_home

  socat: 
    container_name: socat 
    image: alpine/socat 
    ports: 
      - 2375:2375 
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: tcp-listen:2375,fork,reuseaddr unix-connect:/var/run/docker.sock
